.player-card {
  min-width: 25vw;
  min-height: 23rem;

  .categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card-back {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }
}
